body{
    background: greenyellow;
}
.hide{
    width: 0px;
    color: red;
    opacity: 0;
    gap:10px;
    padding-left: 25px;
}
li:hover span{
    opacity: 3;
}
.background1{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    width:97%;
    height:0.5vh;
    margin: 0 auto;
    display: block;

}
.background2{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    width:94%;
    height:0.5vh;
    margin: 0 auto;

}
