.hide{
    width: 0px;
    color: red;
    opacity: 0;
    margin-right: 10px;
}
li:hover span{
    opacity: 1;
}

.background1{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-top: none;
    width:97%;
    height:0.5vh;
    margin: 0 auto;
    display: block;

}
.background2{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-top: none;
    width:94%;
    height:0.5vh;
    margin: 0 auto;

}